<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="vuejs/vuejs-2.5.16.js"></script>
    <script type="text/javascript" src="vuejs/axios-0.18.0.js"></script>
</head>
<body>
    <div id="logindiv">

        用户名:<input type="text" v-model="ub.uname" required="required"/><br>
        密码:<input type="password" v-model="ub.pwd" required="required"/><br>
        <input type="button" value="登录" @click="getLogin()">

    </div>
    <script type="text/javascript" src="myjs/index.js"></script>
</body>
</html>
